.settings-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    border-radius: 20px;
    margin: 20px 0 3vh 0;
    padding: 0 20px;
    background-color: #ffdf3f;
    font-size: 2em;
    flex-wrap: wrap;
}

.setting{
    height: 75vh;
    overflow-y: scroll;
    border-radius: 20px;
}
.setting h1, .setting h2{
    margin-top: 0px;
    margin-bottom: 0px;
    height: 1em;
    line-height: 1;
}

.info-block{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.team-list, .info-block{
    padding: 20px 0;
}

.info-block.btn{
    position: relative;
    width: 0;
}

.info-block.btn h1, .info-block.btn h2{
    font-size: 2em;
    line-height: 0.5;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.75);
}

.info-block h1, .info-block h2{
    border: 1px solid #7e6900;
    border-radius: 20px;
    padding: 16px;
}

.info-block h1.active, .info-block h2.active{
    background-color: #FFFFFF;
    box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.75);
}

.team-list input{
    width: 75%;
    background: transparent;
    border: none;
    font-size: 44px;
    border-bottom: 2px solid var(--pink-alias);
    box-shadow: 0px -1 transparent, 0 2px var(--pink-alias), 0px 0 var(--pink-alias), 0 0px var(--pink-alias)!important;
}
.team-list {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.title-block{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: -28px;
}
title-block.teams .title{
    position: absolute;
    bottom: 14px;
    right: -170px;
}
.title-block.teams{
    position: relative;
}

.title-block .title{
    font-size: 1.7em;
    color: #ffdf3f !important;
}
.team-list-items-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.settings-block.btn-start{
    background-color: #FFFFFF;
    font-size: 2em;
    height: 11vh;
    min-height: 8vh;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 9px 4px rgba(0,0,0,0.75);
}
.settings-block.btn-start h1, .settings-block.btn-start h2{
    margin: 0;
}

.add-team p{
    border-radius: 20%;
    line-height: 1;
    margin: 0;
}

.add-team p img{
    width: 64px;
}

.setting-game-play-btn{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    right: 3vh;
}
